@font-face {
  font-family: "MuseoSans";
  src: url('./MuseoSans_700.otf');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Helvetica Neue";
  src: url('./Helvetica-Neue.ttf');
  font-weight: normal;
  font-style: normal;
} */